apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  labels:
    name: postgres
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: ClusterIP # Explicitly declaring the type, though it's the default